cadastro-page{

    .toolbar-background-md  {
        background: linear-gradient(0deg, #0D8EAA, #00FF98);
    }
    .bar-button-default-md{
        color: #ffffff
    }
    .toolbar-title-md{
        color: #ffffff
    }
.img{
    height:200px ;
    width: 200px;
    border-radius: 50%; // fica redonda 
    margin-left: calc(50%-100px);
    margin-top:50px;
    margin-bottom: 50px;
}










}