.cabecalho {//Quadro onde fica a foto do usuario
    position: absolute;
    height: 25%;

    .imagem{// Css que faz com que a imagem fique circular, e ajustada no circulo
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-left: calc(50% - 75px);


    }
    
    .text{//Onde ajusto o nome e email do usuario no cabecalho
        text-align: center;
        margin: 10px;
        color:white;

    }

}